
:root {
    --background-color: #fff;
    --text-color: #000;
}

html[data-theme='dark'] {
    --background-color: rgba(17,17,17,1);
    --text-color: #fff;
}



body{
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
    -webkit-font-smoothing: antialiased;
    
}

.navbar{
    background-color: var(--background-color) !important;
    color: var(--text-color);
}

[data-theme="dark"] .navbar{
    background-color: var(--background-color) !important;
}

.nav-link{
    color: var(--text-color) !important;
}

.navbar-brand{
    color: var(--text-color) !important;
}


.themeSwitcher{
    color: var(--text-color) !important;
    border: 1px solid var(--text-color) !important;
    border-radius: 10%;
    padding: 3px 5px;
}



.cvPic{
    
    overflow: hidden;
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
.cvPic img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
      object-position: top;
    width: 100%;
    height: 100%;
}

.codeArea{
    /* font-family: monospace; */
    background: rgba(138, 208, 255, 0.1);
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    text-align: left;
}

.dotArea{
    position: absolute;
    right: 8px;
    top: 8px;
    display:flex;
}

.codeFont{
    font-family: monospace;
    color: #4bb74a;
    font-size: 20px;
}
.dot{
    background: var(--bs-warning);
    height: 10px;
    width: 10px;
    display: block;
    margin: 7px;
    border-radius: 100%;
}
.dot:first-child{
    background-color: var(--bs-success);
}
.dot:last-child{
    background-color: var(--bs-danger);
}
.homeSection{
    /* height: 70vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

.skillbarContent{
    margin: 2em 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.skillbar{
    width: 80%;
    height: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

.skillbarLabel{
    width: 20%;
}

.SkillBarinner{
    height: 100%;
    width: 60%;
    background-color: #4bb74a;
    position: relative; 
    border-radius: 5px;
}

.SkillInidikator{
    position: absolute;
    right: 0;
    top: -1.5rem;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 11px;
}

.SkillInidikator::after{
    content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--text-color) transparent transparent transparent;
}


.skillIcon{
    font-size: 30px;
}


.projectCardImage{
    height:10rem;
    overflow: hidden;
}


.ArrowStart{
    font-size: 30px;
    animation: bounce 4s cubic-bezier(.95,.05,.795,.035) infinite alternate;
    width: auto;
    color: var(--text-color);
    
}


